/* Provide sufficient contrast against white background */
a {
  color: #333333;
}

body{
  background-color: #f8d63e;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.top-list-container{
  width: 100%;
  margin-right: 1em;
}

h3:hover{
  background-color: #5a5a5a;
  color: #ffe46d;
  padding: 2%;
}

button {
  margin: 0.5em;
  background-color: #fcbc19;
  color: #333333;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.leaflet-container {
  width: 100%;
  height: 40em;
}

.box {
  padding: 1em;
  display: inline-flex;
  width: 100%;
}

.stationsList {
  flex: 1 1 0px;
  width: 100%;
}

.tripsList {
  flex: 1 1 0px;
  width: 100%;
}

.list {
  text-align: left;
  margin-left: 2em;
  width: 90%;

}

.add-station-class {
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 50%;
  display: inline
}


.details {
  margin-left: 0.5em;
  width: 30em;
  overflow: scroll;
}

.bottom-half{
  display: inline-flex;
}
.stationsList {
  width: 40%;
  text-align: center;
  display:inline-block;
  flex-wrap: wrap;
  margin-right: 0.5em;

}

.tripsList {
  width: 40%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1em;
  margin-left: 0.5em;

}



table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

th {
  padding: 5px;
}

td {
  background-color: #eaeaea;
  padding: 12px;
}

h2 {
  width: 100%;
}

h3 {
  width: 50%;
}

.subHeadersForList {
  width: 100%;
  display: inline-flex;
}

.add-trip-class {
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 50%;
  display: inline
}

.inputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: white;
  margin: 30px;
  padding: 20px;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

table {
  width: 100%
}

input {
  margin: 0.5em;
}

.pagination {
  display: inline-block;

}